<div class="home-container">
    <div class="watermark"></div>
    <div class="content">
      <h1>Bem-vindo ao nosso sistema de gerenciamento de questionários</h1>
      <p>
        Nosso projeto facilita o acompanhamento da satisfação dos clientes e hóspedes após o checkout no hotel.
        Com ele, você pode coletar e analisar feedbacks para melhorar a experiência dos seus clientes.
      </p>
      <button [routerLink]="['/login']" class="btn btn-primary">Fazer Login</button>
    </div>
  </div>
  