<div class="home-container">
  <div class="content">
    <h1>Bem-vindo ao nosso sistema de <span>Gestão de Questionários</span></h1>
    <p>
      Facilite o acompanhamento da satisfação dos clientes e hóspedes após o checkout no hotel. Colete, analise e melhore a experiência de seus clientes de forma rápida e intuitiva.
    </p>
    <div class="btn-group">
      <a routerLink="/questionario" class="btn btn-primary">Criar Questionário</a>
      <a routerLink="/listarQuestionario" class="btn btn-secondary">Ver Questionários</a>
    </div>
  </div>
</div>