<div class="login-container">
  <h2>Login</h2>

  <div *ngIf="erro" class="alert alert-danger">{{ erro }}</div>

  <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        class="form-control"
        [(ngModel)]="novoEmail"
        #email="ngModel"
        required
        email
      />
      <div *ngIf="email.invalid && email.touched" class="text-danger">
        <small *ngIf="email.errors?.['required']">Email é obrigatório.</small>
        <small *ngIf="email.errors?.['email']">Formato de email inválido.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input
        id="senha"
        name="senha"
        type="password"
        class="form-control"
        [(ngModel)]="novaSenha"
        #senha="ngModel"
        required
        minlength="6"
      />
      <div *ngIf="senha.invalid && senha.touched" class="text-danger">
        <small *ngIf="senha.errors?.['required']">Senha é obrigatória.</small>
        <small *ngIf="senha.errors?.['minlength']"></small>
          A senha deve ter no mínimo 6 caracteres.
      </div>
    </div>

    <button type="submit" class="btn btn-primary"  [disabled]="loginForm.invalid || loading">
      {{ loading ? 'Entrando...' : 'Entrar' }}
    </button>
  </form>
</div>
