<div class="login-container">
  <h2>Login</h2>

  <div *ngIf="erro" class="alert alert-danger">{{ erro }}</div>

  <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input id="email" name="email" type="email" class="form-control"
        [(ngModel)]="novoEmail" required email />
    </div>

    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input id="senha" name="senha" type="password" class="form-control"
        [(ngModel)]="novaSenha" required minlength="6" />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="loading">
      {{ loading ? 'Entrando...' : 'Entrar' }}
    </button>
  </form>
</div>

<!-- <h2 class="mb-3">Produtos</h2>

 
<div class="row g-2 align-items-center mb-3">
  <div class="col-sm-6 col-md-4"> 
    <input class="form-control"
           [(ngModel)]="novoEmail"
           placeholder="Email">
  </div>
  <div class="col-sm-6 col-md-4"> 
    <input class="form-control"
           [(ngModel)]="novaSenha"
           placeholder="Senha">
  </div>
   <div class="col-auto">
     <button class="btn btn-primary">Adicionar</button>
  </div>
</div> -->


